# Docker best practices: exclude files not needed in the image to reduce size and improve security.
node_modules
.next/cache
# Exclude local environment variables
.env
.env*.local
# Exclude Git history
.git
.gitignore
