@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 25% 95%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 178 26% 39%;
    --primary-foreground: 0 0% 98%;
    --secondary: 178 20% 90%;
    --secondary-foreground: 178 26% 39%;
    --muted: 178 20% 90%;
    --muted-foreground: 178 15% 45%;
    --accent: 178 26% 39%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 178 20% 90%;
    --input: 178 20% 90%;
    --ring: 178 26% 39%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 178 20% 10%;
    --foreground: 180 5% 90%;
    --card: 178 20% 10%;
    --card-foreground: 180 5% 90%;
    --popover: 178 20% 10%;
    --popover-foreground: 180 5% 90%;
    --primary: 178 40% 60%;
    --primary-foreground: 178 20% 10%;
    --secondary: 178 15% 15%;
    --secondary-foreground: 180 5% 90%;
    --muted: 178 15% 15%;
    --muted-foreground: 180 5% 70%;
    --accent: 178 40% 60%;
    --accent-foreground: 178 20% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 178 15% 15%;
    --input: 178 15% 15%;
    --ring: 178 40% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-area, .printable-area * {
    visibility: visible;
  }
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
